In [1]:
import numpy as np
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go

In [2]:
df = pd.read_csv ('../../Plotly-Dashboards-with-Dash/Data/mocksurvey.csv', index_col=0)

In [3]:
df2 = pd.read_csv ('../../Plotly-Dashboards-with-Dash/Data/mocksurvey.csv', index_col=0)

In [4]:
df2.head()

,Strongly Agree,Somewhat Agree,Neutral,Somewhat Disagree,Strongly Disagree
Question 1,0.45,0.25,0.10,0.12,0.08
Question 2,0.12,0.07,0.48,0.18,0.15
Question 3,0.05,0.22,0.19,0.23,0.31

In [5]:
df.head()

,Strongly Agree,Somewhat Agree,Neutral,Somewhat Disagree,Strongly Disagree
Question 1,0.45,0.25,0.10,0.12,0.08
Question 2,0.12,0.07,0.48,0.18,0.15
Question 3,0.05,0.22,0.19,0.23,0.31

In [6]:
trace = [go.Bar(y = df.index,
                x = df[response],
                orientation = 'h',
                name = response) for response in df.columns]

In [7]:
layout = go.Layout (title = 'Mock Survey Results',
                    xaxis = dict (title = 'X-axis'),
                    yaxis = dict (title = 'Y-axis'),
                    barmode = 'stack')

In [8]:
fig = go.Figure (data = trace, layout = layout)

In [9]:
pyo.plot (fig, filename = 'Bar Chart Exercise.html')

'file://C:\\Mohan\\DataScience\\Udemy\\Visualization\\Practice\\py files\\Bar Chart Exercise.html'

In [10]:
df.index

Index(['Question 1', 'Question 2', 'Question 3'], dtype='object')

In [11]:
df.columns

Index(['Strongly Agree', 'Somewhat Agree', 'Neutral', 'Somewhat Disagree',
       'Strongly Disagree'],
      dtype='object')